@import '../../scss/variables';

.timer {
  background: rgba(35, 38, 49, 0.6);
  height: $control-plane-height;
  position: fixed;
  bottom: $control-plane-height;
  left: 0;
  right: 0;

  .time {
    font-family: $font-roboto-mono;
    letter-spacing: -1px;
    font-weight: 800;
    font-size: 28px;
    color: #46d3f5;

    &.paused {
      color: #9c9c9c;
    }
  }

  .ms {
    font-size: 18px;
    margin-left: 4px;
    margin-top: 6px;
  }
}
