@import '../../scss/variables';

.display {
  height: 147px;
  background: rgba(48, 54, 73, 0.6);

  .row {
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .main-data {
    font-size: 13px;

    .time {
      font-family: $font-roboto-mono;
      font-weight: 500;
      margin-right: 8px;
    }
  }

  .additional-data {
    font-family: $font-roboto-mono;
    font-size: 11px;

    .score {
      font-weight: 700;

      &.score-red {
        color: #ff9090;
      }
      &.score-green {
        color: #6cde7b;
      }
      &.score-yellow {
        color: #decc6c;
      }
    }
  }
}
