@import '~material-design-icons/iconfont/material-icons.css';
@import '~typeface-roboto/index.css';
@import '~typeface-roboto-mono/index.css';
@import '~react-perfect-scrollbar/dist/css/styles.css';
@import 'variables';

html,
body,
#root {
  height: 100%;
}

body {
  font-family: $font-roboto;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  color: $font-white;
  background: rgba(48, 54, 73, 0.6);
  padding-bottom: $control-plane-height;
}
